html,
body {
  height: 100%;
  position: relative;

  margin:0;
  padding:0;
   
}
.App {
  background-color: rgb(3, 73, 114);
  min-height: 100%; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of footer */
  color: white;
}


 
/* style på forside */

.welcomeNote h1{
  /*padding-top: 10%;
  font-size: 30px;
  */
  font-weight: bold;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 3px 0 #000;

  text-align: center;
}

.welcomeNote p{
  font-weight: bold;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 2px 0 #000;

  text-align: center;
}

/*NAVBAR*/

div.navbar nav {
  /*background-color: white !important;
  color: white !important;*/
  color: white !important;
  background-color: rgb(3, 73, 114) !important;
  
}

div.navbar a {
  color: white !important;
}

.name {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 4px 0 #000;
}



/*ABOUT*/


#about-jumb {
  background-color: rgb(3, 73, 114);
}
#about-jumb h1 {
  padding-top: 10%;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 3px 0 #000;
}
#about-jumb hr {
  border: solid 1px dimgrey !important;
  width: 20%;
}
#about-hr {
  width: 35%;
  color: white 
}
div.about-info {
  margin-bottom: 2%;
}
.about-header-title {
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 3px 0 #000;
  
}



/*GDPR*/

.gdprBack {
  background-color: rgb(3, 73, 114);
}

.gdprh1 {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 3px 0 #000;
  text-align: center;
}


/*FOOTER*/

.footer-container{
  background-color: rgb(3, 73, 114);
  color: lightsalmon;
  margin-bottom: 0px;
  position: sticky;
  
}

.footer-jt {
  margin-bottom: 0%;
  margin-left: 10%;
  margin-right: 10%;
}
